/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: #f1f1f1;
    font-family: "Roboto Condensed", sans-serif;
}

/* CABECALHO */
.header {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 4%;
}

.header_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.header_menu_link {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 300;
    color: #f1f1f1;
}

.header_menu_link:hover {
    color: #ff6347;
}

/* CONTAINER PRINCIPAL */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    width: 100%;
    padding: 0 12%; 
}

/* INICIO */
.container_conteudo_inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.container_conteudo_title {
    font-family: "Anton", sans-serif;
    font-size: 6.5rem;
    font-weight: 400;
    text-align: center;
    padding-top: 15%;
    color: #ff2600;
}

.container_conteudo_title_texto {
    font-size: 1.5rem;
    font-weight: 300;
}

/* SUBTÍTULOS */
.container_conteudo_subtitulo_projetos,
.container_conteudo_subtitulo_sobre,
.container_conteudo_subtitulo_contato {
    font-family: Anton, sans-serif;
    font-size: 4rem;
    font-weight: 400;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
    color: black;
    width: 100vw;
    
    
}

/* SOBRE */
.sobre {
    width: 100vw;
    background-color: #ff2600;
    color: #f1f1f1;
    padding: 5% 5%;
    display: flex;
    justify-content: center;
}

.sobre-container {
    display: flex;
    align-items: center;
    gap: 60px;
    max-width: 1200px;
    flex-wrap: nowrap;
}

.sobre-texto {
    max-width: 700px;
}

.sobre-texto h2 {
    font-family: 'Anton', sans-serif;
    font-size: 3rem;
    margin-bottom: 3%;
    font-weight: 500;
}

.sobre-texto p {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.25rem;
    line-height: 1.6;
    margin-bottom: 5%;
}


/* CONTATO */
.container_conteudo_contato {
    background-color: #f1f1f1;
    text-align: center;
    width: 100vw;
    padding: 3% 0;
}

/* PROJETOS */
.container_conteudo_projeto_botoes {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 3% 0;
    flex-direction: row;
}

.container_conteudo_projeto_botoes::-webkit-scrollbar {
    display: none;
}

/* BOTOES PROJETO */
.container_conteudo_projeto_imagem_hover_azure,
.container_conteudo_projeto_imagem_hover_black,
.container_conteudo_projeto_imagem_hover_chieri {
    width: 28%;
    height: 315px;
    flex-shrink: 0;
    display: block;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    cursor: pointer;
    transition: background-image 0.3s ease;
}

.container_conteudo_projeto_imagem_hover_azure {
    background-image: url("imagens/botoes/AZURE.png");
}
.container_conteudo_projeto_imagem_hover_azure:hover {
    background-image: url("imagens/botoes/AZURE_HOVER.png");
}

.container_conteudo_projeto_imagem_hover_black {
    background-image: url("imagens/botoes/BLACK.png");
}
.container_conteudo_projeto_imagem_hover_black:hover {
    background-image: url("imagens/botoes/BLACK_HOVER.png");
}

.container_conteudo_projeto_imagem_hover_chieri {
    background-image: url("imagens/botoes/CHIERI.png");
}
.container_conteudo_projeto_imagem_hover_chieri:hover {
    background-image: url("imagens/botoes/CHIERI_HOVER.png");
}

/* FOOTER */

.footer {
    background-color: #ff2600;
    width: 100vw;
    padding: 2%;
    text-align: center;
    justify-content: center;

}

.footer_container {
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 0.75rem;
}



@media (max-width: 1000px) {

    /* CONTAINER PRINCIPAL */
    .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 100%;
    padding: 0 12%;
}

    .header_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: px;
}
    .header_menu_link {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 300;
    color: #f1f1f1;
}


    .container_conteudo_title {
    font-family: "Anton", sans-serif;
    font-size: 5rem;
    font-weight: 400;
    text-align: center;
    padding-top: 15%;
    color: #ff2600;
    }

.container_conteudo_title_texto {
    font-size: 1.8rem;
    font-weight: 300;
} 

    /* SUBTÍTULOS tablet */
.container_conteudo_subtitulo_projetos,
.container_conteudo_subtitulo_sobre,
.container_conteudo_subtitulo_contato {
    font-family: Anton, sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
    color: black;
    width: 100vw;
}

.container_conteudo_projeto_botoes {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 3% 5%;
    flex-direction: row;
}

/* BOTOES PROJETO */
.container_conteudo_projeto_imagem_hover_azure,
.container_conteudo_projeto_imagem_hover_black,
.container_conteudo_projeto_imagem_hover_chieri {
    width: 33%;
    height: 200px;
    flex-shrink: 0;
    display: block;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    cursor: pointer;
    transition: background-image 0.3s ease;
}

    /* SOBRE */

    .sobre-imagem {
    height: 350px;
    width: 20rem;
    }
    
    .imagem {
    height: 350x;
    width: 20rem;
    }

    .sobre-texto h2 {
    font-size: 2.5rem;
    }

    .sobre-texto p {
    font-size: 1rem;}

    .sobre-container {
    gap: 20px;
    }


   
}

@media (max-width: 550px) {

    /* CONTAINER PRINCIPAL */
    .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 100%;
    padding: 0 12%; }

    .header_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
    .header_menu_link {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 300;
    color: #f1f1f1;}


    .container_conteudo_title {
    font-family: "Anton", sans-serif;
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
    padding-top: 15%;
    color: #ff2600;
    }
.container_conteudo_title_texto {
    font-size: 1rem;
    font-weight: 300;} 

    /* SUBTÍTULOS CELULAR */
.container_conteudo_subtitulo_projetos,
.container_conteudo_subtitulo_sobre,
.container_conteudo_subtitulo_contato {
    font-family: Anton, sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
    color: black;
    width: 100vw;
}

.container_conteudo_projeto_botoes {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 3% 5%;
    flex-direction: column;
}

/* BOTOES PROJETO */
.container_conteudo_projeto_imagem_hover_azure,
.container_conteudo_projeto_imagem_hover_black,
.container_conteudo_projeto_imagem_hover_chieri {
    width: 100%;
    height: 200px;
    flex-shrink: 0;
    display: block;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    cursor: pointer;
    transition: background-image 0.3s ease;}

    /* SOBRE */

    .sobre-imagem {
    height: 300px;
    width: 15rem;
    }
    
    .imagem {
    height: 300px;
    width: 15rem;
    }

    .sobre-texto h2 {
    font-size: 1.5rem;
}

    .sobre-texto p {
    font-size: 0.8rem;}

    .sobre-container {
    gap: 20px;
}

}

